# Configuration de la base de données
DB_HOST=localhost
DB_PORT=5432
DB_NAME=barbershop_db
DB_USER=barbershop_user
DB_PASSWORD=your_password

# Configuration JWT
JWT_SECRET=45a98bd6330f3a4686d66762b8c4b3cabf575d86040d65876572ada02afc1aa5a581dfe1074abeca966cbc0f0e6b42f4cb1f2d008eb7002728b56dbc53444f2f
JWT_EXPIRES_IN=24h

# Configuration email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_emmanuel.bikouame@gmail.com
EMAIL_PASS=your_fmht rbkz grhw ikyt
EMAIL_FROM=noreply@barbershop-rennes.fr
EMAIL_SECURE=false
EMAIL_ENABLED=true

# Configuration Twilio (SMS)
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone
SMS_ENABLED=true

# Configuration Google Maps
GOOGLE_MAPS_API_KEY=your_google_maps_api_key

# Configuration serveur
PORT=5001
NODE_ENV=development

# URL frontend
FRONTEND_URL=http://localhost:3000
